<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>DeviSmart configuration receiving utility</title>

    <link rel="shortcut icon" href="/res/icons/favicon.png" />

    <link type="text/css" href="bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="angular-material.min.css" rel="stylesheet">
    <link type="text/css" href="md-expansion-panel.min.css" rel="stylesheet">

    <!-- custom css files -->
    <link type="text/css" href="components.css" rel="stylesheet">
    <link type="text/css" href="layout.css" rel="stylesheet">
    <link type="text/css" href="views.css" rel="stylesheet">
    <link type="text/css" href="theme.css" rel="stylesheet">
    <link type="text/css" href="parameterDescription.css" rel="stylesheet">
    <link type="text/css" href="ol.css" rel="stylesheet">

    <!-- lib js files -->
    <script src="jquery.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="jquery-ui.min.js"></script>
    <script src="angular-bundle.min.js"></script>
    <script src="bootstrap.min.js"></script>

    <noscript>
        <div class="jsDisabled">Sorry! JavaScript is required. Please enable it in your browser.</div>
        <style>
            .jsEnabled {
                display: none;
            }
        </style>
    </noscript>

    <script src="configreceiver.js"></script>
</head>

<body ng-app="deviRegApp">
    <nav class="menu">
        <div class="top">
            <img id="logo" alt="Eclipse SmartHome Logo" src="/res/img/openhab-logo.png">
        </div>
    </nav>
    <div id="wrapper">
        <header>
            <div class="title">
                <h1 flex="100">
                    DeviSmart configuration receiving utility
                </h1>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-12">&nbsp;</div>
                <div class="col-12">
                    <ol style="list-style-position: inside; padding-left: 0;">
                        <LI>Open your Danfoss<sup>tm</sup> Smart application and choose "Share house" function.</LI>
                        <LI>Your answer to permissions question does not matter, OpenHAB does not support removing other
                            users</LI>
                        <LI>Enter the given pairingscode below and click "Pair"</LI>
                    </ol>
                </div>
                <div class="col-12">&nbsp;</div>
                <div class="col-12">
                    <div layout="row" ng-cloak>
                        <form name="otpForm" ng-controller="deviRegFormController" novalidate ng-submit="processForm()"
                            flex>
                            <div layout="row" layout-align="start start" flex>
                                <md-input-container class="flex-33">
                                    <label for="otp">Pairingscode</label>
                                    <input name="otp" id="otp" placeholder="123-123-1" ng-model="otpFormData.otp"
                                        required ng-pattern="/^[0-9]{3}\-?[0-9]{3}\-?[0-9]{1}$/" flex
                                        ng-disabled="processing || result_success" />
                                    <div ng-messages="otpForm.otp.$error" role="alert" md-auto-hide="false"
                                        ng-if="otpForm.otp.$touched">
                                        <div ng-message="required">This is required!</div>
                                        <div ng-message="pattern">Please enter a valid pairingscode.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex ng-show="!processing">
                                    <md-button type="submit" class="md-primary md-raised" aria-label="Pair"
                                        ng-disabled="result_success || (otpForm.$invalid && !result_success)"
                                        style="margin-top: -10px;">
                                        Pair
                                    </md-button>
                                </md-input-container>
                                <md-input-container flex ng-show="processing" style="margin-top: -10px;">
                                    <md-progress-circular md-mode="indeterminate" md-diameter="100">
                                    </md-progress-circular>
                                </md-input-container>
                            </div>
                            <div class="alert alert-success" role="alert" ng-show="result_success">
                                <div ng-bind-html="result_success"></div>
                            </div>
                            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="result_error">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div ng-bind-html="result_error"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>